body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header{
    font-size: 80px;
    padding: 20px;
}

#menu{
    display: flex;
    flex-direction: column;
}

#menu button{
    padding: 10px;
    margin: 10px;
    background-color: rgb(2, 49, 2);
    color: #ffffff;
}


#formCadastro, #formAlterarSenha {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 30px;
    flex-direction: column;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input,
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background-color: #0056b3;
}

.mensagemErro,
.mensagemErroSenha{
    font: message-box;
    font-size: small;
    color: red;
    margin-top: 0;
    padding: 0;
    
}

#exibirSenha{
    display: inline;
}